services:
  db:
    image: postgres:15
    container_name: findMe_postgres_db
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - findMe:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - findme-shared-network

  redis:
    image: redis:8.2.3
    container_name: findMe_redis
    restart: always
    command: [
      "redis-server", "--appendonly", "yes",
      "--requirepass", "${REDIS_PASS}",
      "--maxmemory", "50mb",
      "--maxmemory-policy", "volatile-ttl"
    ]
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - findme-shared-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: findMe_app
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=db
      - REDIS_PASS=${REDIS_PASS}
      - REDIS_ADDR=redis:6379
      - JWTSECRET=${JWTSECRET}
      - GIT_CLIENT_ID=${GIT_CLIENT_ID}
      - GIT_CLIENT_SECRET=${GIT_CLIENT_SECRET}
      - GIT_CALLBACK_URL=${GIT_CALLBACK_URL}
      - EMAIL=${EMAIL}
      - EMAIL_APP_PASSWORD=${EMAIL_APP_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health"]
      interval: 120s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - findme-shared-network

  nginx:
    image: nginx:alpine
    container_name: findMe_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    depends_on:
      app:
        condition: service_healthy
    networks:
      - findme-shared-network
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot
    container_name: findMe_certbot
    restart: unless-stopped
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - findme-shared-network

networks:
  findme-shared-network:
    external: true

volumes:
  findMe:
  redis-data:
