services:
  db:
    image: postgres:15
    container_name: findMe_postgres_db
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
    volumes:
      - findMe:/var/lib/postgresql/data

  redis:
    image: redis:8.2.3
    container_name: findMe_redis
    restart: always
    ports:
      - 6379:6379
    environment:
      - REDIS_ADDR=${REDIS_ADDR}
      - REDIS_PASS=${REDIS_PASS}
    command: [
      "redis-server", "--appendonly", "yes",
      "--requirepass", "${REDIS_PASS}",
      "--maxmemory", "50mb",
      "--maxmemory-policy", "volatile-ttl"
    ]

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: findMe_app
    restart: always
    ports:
      - 8080:8080
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - REDIS_PASS=${REDIS_PASS}
      - REDIS_ADDR=${REDIS_ADDR}
      - JWTSECRET=${JWTSECRET}
      - GIT_CLIENT_ID=${GIT_CLIENT_ID}
      - GIT_CLIENT_SECRET=${GIT_CLIENT_SECRET}
      - GIT_CALLBACK_URL=${GIT_CALLBACK_URL}
      - EMAIL=${EMAIL}
      - EMAIL_APP_PASSWORD=${EMAIL_APP_PASSWORD}
    depends_on:
      - db
      - redis
volumes:
  findMe:
